body > header {
    border: 2px solid darkblue;
    border-radius: 15px;
    background-color: lightblue;
    color: darkblue
}

body > main {
    background-color: lightblue;
    color: darkblue;
}

#enroll {
    display: none;
}