body {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-areas: 'm u';
}


body > main {
    grid-area: m;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

body > main > section {
    color: white;
    background-color: darkblue;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

body > section {
    grid-area: u;
    color: darkblue;  
}